:root {
    --overlay-width: 40%;
    --form-width: 60; // 100% - overlay-width without %
	--time-slide-transition: .8s;
	--button-transition: 
		color .2s linear, 
		border-color .2s linear, 
		background-color .2s linear;
	--change-formside-transition: 
		transform var(--time-slide-transition) ease-in-out, 
		z-index 0s calc(var(--time-slide-transition) / 2);
	--change-overlayside-transition:        
		left calc(var(--time-slide-transition) / 2) calc(var(--time-slide-transition) / 2),
		right calc(var(--time-slide-transition) / 2);
	--change-overlayside-transition-bis:        
		right calc(var(--time-slide-transition) / 2) calc(var(--time-slide-transition) / 2),
        left calc(var(--time-slide-transition) / 2);
}

#auth-container {
	position: relative;
    margin: 4rem 0;
    height: calc(100vh - 8rem);
	border-radius: 1rem;
	overflow: hidden;
    background-color: var(--white);

    .sign-in-container,
    .sign-up-container {
        position: absolute;
        left: var(--overlay-width);
        width: calc(100% - var(--overlay-width));
        height: 100%;
        background-color: var(--white);
        padding: 0 5rem;
        transform: translateX(0px);
        transition: var(--change-formside-transition);
    }

    .header {
        white-space: nowrap;
        font-size: 48px;
        font-family: var(--font-comfortaa) !important;
        font-weight: var(--font-regular);
    }

    .sign-in-container {
        z-index: 1;
    }

    .sign-up-container {
        z-index: 2;
    }
    
    #overlay-container {
        position: absolute;
        left: 0px;
        right: calc(100% - var(--overlay-width));
        width: auto;
        height: 100%;
        overflow: hidden;
        background: var(--light-grey);
        z-index: 100;
        
        & > * {
            opacity: 1;
            transition: opacity calc(var(--time-slide-transition) / 2) ease-in-out;
            &.switch-animation {
                opacity: 0;
            }
        }
    }

    &:not(.right-panel-active) #overlay-container {
        transition: var(--change-overlayside-transition-bis);
    }

    &.right-panel-active  {
        .sign-in-container,
        .sign-up-container {
            transform: translateX(calc(0px - (var(--overlay-width) / var(--form-width)) * 100));
        }
    
        .sign-in-container {
            z-index: 2;
        }

        .sign-up-container {
            z-index: 1;
        }

        #overlay-container {
            transition: var(--change-overlayside-transition);
            left: calc(100% - var(--overlay-width));
            right: 0px;
        }
    }
}

@media screen and (min-width: 1000px) {
    
}