// Theme Colors (https://maketintsandshades.com/#ffdb57,071d4f,277DA1,b4e080,F9844A,F94144)

$white: #ffffff !default;
$black: #000000 !default;

$base-50: #fafafa !default;
$base-100: #f5f5f5 !default;
$base-200: #eeeeee !default;
$base-300: #e0e0e0 !default;
$base-400: #bdbdbd !default;
$base-500: #9e9e9e !default;
$base-600: #757575 !default;
$base-700: #616161 !default;
$base-800: #424242 !default;
$base-900: #212121 !default;

$primary: #ffdb57 !default;
$secondary: #071d4f !default;
$info: #277DA1 !default;
$success: #b4e080 !default;
$warning: #F9844A !default;
$danger: #F94144 !default;

$primary-light: #ffe279 !default;
$primary-lighter: #ffedab !default;
$primary-dark: #4c421a !default;
$primary-darker: #191609 !default;

$secondary-light: #394a72 !default;
$secondary-lighter: #cdd2dc !default;
$secondary-dark: #06173f !default;
$secondary-darker: #040f28 !default;

$info-light: #5297b4 !default;
$info-lighter: #93bed0 !default;
$info-dark: #174b61 !default;
$info-darker: #081920 !default;

$success-light: #c3e699 !default;
$success-lighter: #daf0c0 !default;
$success-dark: #485a33 !default;
$success-darker: #12160d !default;

$warning-light: #fa9d6e !default;
$warning-lighter: #fcc2a5 !default;
$warning-dark: #c76a3b !default;
$warning-darker: #321a0f !default;

$danger-light: #fa6769 !default;
$danger-lighter: #fca0a2 !default;
$danger-dark: #ae2e30 !default;
$danger-darker: #320d0e !default;

// Common colors

$transparent: transparent !default;