// https://coolors.co/000a0a-3e4848-d7e1e1-f5ffff-f8c9ca-e5383b-732123

$white: #F5FFFF !default;
$black: #000A0A !default;
$lighter-grey: #EEF8F8 !default;
$light-grey: #D7E1E1 !default;
$dark-grey: #3E4848 !default;

$base-50: #f0edf7 !default;
$base-100: #cbc8d3 !default;
$base-200: #a8a5af !default;
$base-300: #86838e !default;
$base-400: #65626d !default;
$base-500: #46444e !default;
$base-600: #38353f !default;
$base-700: #292731 !default;
$base-800: #1c1a24 !default;
$base-900: #0e0a17 !default;

$primary: #f94d9d !default;
$secondary: #ae99d6 !default;
$info: #277DA1 !default;
$success: #b4e080 !default;
$warning: #F9844A !default;
$danger: #F94144 !default;

$primary-light: #fb82ba !default;
$primary-lighter: #fdb8d8 !default;
$primary-dark: #ae366e !default;
$primary-darker: #320f1f !default;

$secondary-light: #c6b8e2 !default;
$secondary-lighter: #dfd6ef !default;
$secondary-dark: #7a6b96 !default;
$secondary-darker: #342e40 !default;

$info-light: #5297b4 !default;
$info-lighter: #93bed0 !default;
$info-dark: #174b61 !default;
$info-darker: #081920 !default;

$success-light: #c3e699 !default;
$success-lighter: #daf0c0 !default;
$success-dark: #485a33 !default;
$success-darker: #12160d !default;

$warning-light: #fa9d6e !default;
$warning-lighter: #fcc2a5 !default;
$warning-dark: #c76a3b !default;
$warning-darker: #321a0f !default;

$danger-light: #fa6769 !default;
$danger-lighter: #fca0a2 !default;
$danger-dark: #ae2e30 !default;
$danger-darker: #320d0e !default;

// Common colors

$transparent: transparent !default;

:root {
    --white: #{$white};
    --black: #{$black};
    --lighter-grey: #{$lighter-grey};
    --light-grey: #{$light-grey};
    --dark-grey: #{$dark-grey};

    --base-50: #{$base-50};
    --base-100: #{$base-100};
    --base-200: #{$base-200};
    --base-300: #{$base-300};
    --base-400: #{$base-400};
    --base-500: #{$base-500};
    --base-600: #{$base-600};
    --base-700: #{$base-700};
    --base-800: #{$base-800};
    --base-900: #{$base-900};

    --primary: #{$primary};
    --secondary: #{$secondary};
    --info: #{$info};
    --success: #{$success};
    --warning: #{$warning};
    --danger: #{$danger};

    --primary-light: #{$primary-light};
    --primary-lighter: #{$primary-lighter};
    --primary-dark: #{$primary-dark};
    --primary-darker: #{$primary-darker};

    --secondary-light: #{$secondary-light};
    --secondary-lighter: #{$secondary-lighter};
    --secondary-dark: #{$secondary-dark};
    --secondary-darker: #{$secondary-darker};

    --info-light: #{$info-light};
    --info-lighter: #{$info-lighter};
    --info-dark: #{$info-dark};
    --info-darker: #{$info-darker};

    --success-light: #{$success-light};
    --success-lighter: #{$success-lighter};
    --success-dark: #{$success-dark};
    --success-darker: #{$success-darker};

    --warning-light: #{$warning-light};
    --warning-lighter: #{$warning-lighter};
    --warning-dark: #{$warning-dark};
    --warning-darker: #{$warning-darker};

    --danger-light: #{$danger-light};
    --danger-lighter: #{$danger-lighter};
    --danger-dark: #{$danger-dark};
    --danger-darker: #{$danger-darker};

    --transparent: #{$transparent};
}