a.underline {
    text-decoration: none;
    color: var(--black);
    position: relative;
    display: inline-block;
    div {
        position: relative;
        width: min-content;
        white-space: nowrap;
        height: 1.5rem;
        font-size: 1.25rem;
        span {
            position: absolute;
            border-bottom: 1px solid var(--black);
            width: 100%;
            bottom: 0;
            left: 0;
            transform-origin: 100% 0;
            transform: scaleX(1);
            transition: transform .2s linear var(--background-delay, .15s);
        }
    }
    svg {
        position: absolute;
        vertical-align: top;
        display: inline;
        height: 1.5rem;
        stroke-width: 1px;
        right: -16px;
        bottom: -1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--black);
        stroke-dasharray: 16 41;
        stroke-dashoffset: var(--stroke-dashoffset, 16);
        transition: stroke-dashoffset var(--stroke-duration, .15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
        polyline {            
            vector-effect: non-scaling-stroke;
        }
    }
    &:hover {
        --background-delay: 0s;
        --stroke-dashoffset: -18.5;
        --stroke-duration: .3s;
        --stroke-easing: cubic-bezier(.3, 1.5, .5, 1);
        --stroke-delay: .2s;
        div span {
            transform: scaleX(0);
        }
    }
}