.image-container, .desc-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 24px 40px;
}

.image-container {

    &.empty {
        border: 2px dashed var(--light-grey);

        .image-empty-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            gap: 1rem;

            .image-empty-header {
                color: var(--light-grey);
                white-space: nowrap;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .image-empty-icon > * {
                    font-size: 100px;
                }

                .image-empty-title {
                    font-size: 1.5rem;
                }

                .image-empty-subtitle {
                    font-size: 1.25rem;
                    font-weight: lighter;
                }
            }
        }
    }

    &.full {        
        .image-full-content {
            display: flex;
            gap: 24px;
            width: 100%;
            height: 100%;
            
            .image-info {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                > * {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    
                    > *:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                }

                .image-info-ats-container, .image-info-tags-container {
                    height: auto;
                    width: 100%;
                    border-radius: 4px;
                    border: 1px solid var(--light-grey);
                    flex: 1;
                }
            }

            .image-overview {
                position: relative;
                height: 100%;
                width: 550px;
                max-height: 550px;
                border-radius: .5rem;

                .image-overlay {
                    opacity: 0;            
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 1rem;
                    padding: 0 80px;
                    border-radius: .5rem;
                    z-index: 200000;
                    transition: all .2s ease-in-out;
                    > * {          
                        transform: scale(0.8);
                        transition: all .2s ease-out;
                    }
                }
        
                &:hover .image-overlay {
                    opacity: 1;
                    background-color: rgba(255, 255, 255, 0.7);

                    > * {
                        transform: scale(1);

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.5);
                        }
                    }
                }
            }            
        }
    }
}

.desc-container {
    .desc-input {
        max-height: 550px !important;
    }
}

.box {
    border: 3px solid var(--dark-grey);
}

.resize-handle-top,
.resize-handle-bottom,
.resize-handle-left,
.resize-handle-right {
    border-radius: 2px;
    background-color: var(--light-grey);
}

.resize-handle-top,
.resize-handle-bottom {
    margin: 0 auto;
    width: 30px !important;
    height: 9px !important;
    right: 0;
}

.resize-handle-left,
.resize-handle-right {
    margin: auto 0;
    width: 9px !important;
    height: 30px !important;
    bottom: 0;
}

.resize-handle-left {
    left: -3px !important;
}

.resize-handle-right {
    right: -3px !important;
}

.resize-handle-top {
    top: -3px !important;
}

.resize-handle-bottom {
    bottom: -3px !important;
}