:root {
  --white: #F5FFFF;
  --black: #000A0A;
  --lighter-grey: #EEF8F8;
  --light-grey: #D7E1E1;
  --dark-grey: #3E4848;
  --base-50: #f0edf7;
  --base-100: #cbc8d3;
  --base-200: #a8a5af;
  --base-300: #86838e;
  --base-400: #65626d;
  --base-500: #46444e;
  --base-600: #38353f;
  --base-700: #292731;
  --base-800: #1c1a24;
  --base-900: #0e0a17;
  --primary: #f94d9d;
  --secondary: #ae99d6;
  --info: #277DA1;
  --success: #b4e080;
  --warning: #F9844A;
  --danger: #F94144;
  --primary-light: #fb82ba;
  --primary-lighter: #fdb8d8;
  --primary-dark: #ae366e;
  --primary-darker: #320f1f;
  --secondary-light: #c6b8e2;
  --secondary-lighter: #dfd6ef;
  --secondary-dark: #7a6b96;
  --secondary-darker: #342e40;
  --info-light: #5297b4;
  --info-lighter: #93bed0;
  --info-dark: #174b61;
  --info-darker: #081920;
  --success-light: #c3e699;
  --success-lighter: #daf0c0;
  --success-dark: #485a33;
  --success-darker: #12160d;
  --warning-light: #fa9d6e;
  --warning-lighter: #fcc2a5;
  --warning-dark: #c76a3b;
  --warning-darker: #321a0f;
  --danger-light: #fa6769;
  --danger-lighter: #fca0a2;
  --danger-dark: #ae2e30;
  --danger-darker: #320d0e;
  --transparent: transparent; }
