@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Roboto:wght@100;300;400;700;900&display=swap");
[class^='roboto-'],
[class*=' roboto-'] {
  font-family: 'Roboto', sans-serif; }

[class^='comfortaa-'],
[class*=' comfortaa-'] {
  font-family: 'Comfortaa', sans-serif; }

[class^='roboto-thin'],
[class*=' roboto-thin'] {
  font-weight: 100; }

[class^='roboto-light'],
[class*=' roboto-light'] {
  font-weight: 300; }

[class^='roboto-regular'],
[class*=' roboto-regular'] {
  font-weight: 400; }

[class^='roboto-bold'],
[class*=' roboto-bold'] {
  font-weight: 700; }

[class^='roboto-black'],
[class*=' roboto-black'] {
  font-weight: 900; }

[class^='comfortaa-light'],
[class*=' comfortaa-light'] {
  font-weight: 300; }

[class^='comfortaa-regular'],
[class*=' comfortaa-regular'] {
  font-weight: 400; }

[class^='comfortaa-bold'],
[class*=' comfortaa-bold'] {
  font-weight: 700; }
