@import 'base/variable';
@import 'base/fonts';
@import 'base/colors';
@import 'base/shadows';
@import 'base/borders';

*,
*::before,
*::after {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flow-root;
    background-color: var(--white);

    #root {
        display: flow-root;
        
        main {
            height: 100vh;
            display: flow-root;
        }
    }
    
}

@import 'components/paper';
@import 'pages/auth';